body,h1,h2,h3,p{margin: 0px; padding: 0px;}

.div{
  width: 90%;
  height: auto;
  text-align: center;
  margin: 10px auto 5px auto;
}

#number1{
  width: 435px;
  height: 400px;
  border:;
  margin: auto;
  font-family: Arial;
  font-size: 20pt;
  font-weight: bold;
  color:#413864;

}
 #number1-1{
   width: 430px;
   height: 66px;
   font-size: 18px;
   text-align:left;
   color: #8F8FA0;
   background-color: #E6E6E6;
   margin: 15px auto 0px auto;
   border: 1px solid #E6E6E6;
   border-radius: 5px;
   line-height: 66px;
 }
 #three{
   width: 430px;
   height: 66px;
   font-size: 18px;
   text-align:left;
   color: #8F8FA0;
   background-color: white;
   margin: 15px auto 0px auto;



 }
 #three p{
   padding: 0px;
   margin: 0px;
   line-height: 66px;
   float: left;
   margin: 0px 0px 0px 10px;
   font-weight: normal;
 }
 #checkbox{
   width: 20px;
   height: 20px;
   border: 2px solid blue;
   border-radius: 3px;
   margin: 20px 0px 0px 0px;
   float: left;
 }
 #three a{
   float: left;
   text-align: right;
   line-height: 66px;
   margin: 0px 0px 0px 210px;
   color: blue;
   font-weight: normal;
 }
 #three a:link, nav a:visited{
		color: blue;
		text-decoration: none;
  }

 .clearfix{
	clear:both;
}
